@use "styles/palette.scss";
@use "styles/typography.scss";

.Proyects {
  padding-block: 4rem;
  border-radius: 2rem;
  border-block: 1px solid palette.$medium-champagne;
  margin-block-end: 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;

  .Proyects_title {
    font-family: typography.$JetBrainsMono;
    color: palette.$medium-champagne;
    letter-spacing: 0.4rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    width: 100%;
  }

  .Proyects_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 2rem;
    row-gap: 4rem;
  }

  .Proyects_card {
    background: palette.$medium-champagne;
    box-shadow: 0 0 1rem palette.$ruby-red;
    width: min(100%, 20rem);
    border-radius: 0.5rem;
    overflow: hidden;

    .Card_title {
      background: palette.$ruby-red;
      color: palette.$medium-champagne;
      font-family: typography.$JetBrainsMono;
      font-size: 1.5rem;
      font-weight: 900;
      padding-block: 0.2rem;
      text-align: center;
      text-shadow: 0 0 1rem palette.$rich-black-fogra-29;
    }

    .Card_image {
      border-radius: 0.5rem;
      height: 25rem;
      margin: 0.5rem;
      overflow: hidden;
    }

    .Card_buttons {
      background: palette.$medium-champagne;
      display: grid;
      font-size: 1.2rem;
      grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
      text-align: center;

      & a {
        border: 1px solid palette.$ruby-red;
        color: palette.$rich-black-fogra-29;
        font-weight: 900;
        padding-block: 0.5rem;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
          background: palette.$ruby-red;
          color: palette.$medium-champagne;
        }
      }
    }
  }
}
