@use "styles/palette";
.Hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  // background: palette.$gamboge;

  .Hero_container {
    max-width: min(90%, 40rem);
    margin: auto;
    color: palette.$medium-champagne;
    text-shadow: 0 0 1rem palette.$medium-champagne;

    .Hero_title {
      border-radius: 0.5rem;
      max-width: min(90%, 40rem);

      .Hero_welcome {
        font-size: 2rem;
      }

      & strong {
        text-shadow: 0 0 1rem palette.$rufous;
        font-size: 3.5rem;
      }
    }

    .Hero_subtitle {
      font-size: 1.2rem;
    }

    .Hero_button {
      margin-top: 1rem;
      background: transparent;
      border-radius: 0.5rem;
      border: 1px solid palette.$rufous;
      color: palette.$medium-champagne;
      font-size: 1.2rem;
      padding: 0.5rem 1rem;
      text-shadow: 0 0 1rem palette.$rufous;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: palette.$rufous;
        color: palette.$medium-champagne;
        text-shadow: 0 0 1rem palette.$medium-champagne;
      }
    }
  }
}
