.skills__content {
  display: flex;
  flex-flow: row wrap;
  max-width: 1000px;
  justify-content: space-evenly;
  align-items: center;
}

.skills__item {
  margin: 1.5rem 2rem;
  box-shadow: 0 0 2px 2px var(--color-line);
  min-width: 10rem;
  min-height: 8rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.skills__item__title {
  font-size: 1.4rem;
  font-weight: 500;
}
.skills__item__level {
  font-size: 1rem;
}

.skills__item__icon--filter {
  filter: grayscale(100%) contrast(5);
}
