@use "styles/palette";
@use "styles/typography";

.Header {
  button {
    background: transparent;
    border: none;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
  position: sticky;
  top: 0;
  backdrop-filter: blur(70px);
  z-index: 1;
  display: flex;
  align-items: center;
  padding-inline: 1rem;
  padding-block: 1rem;
  background: transparentize($color: palette.$viridian-green, $amount: 0.6);
  box-shadow: 0 0 0.5rem palette.$medium-champagne;

  .Brand {
    color: palette.$medium-champagne;
    display: block;
    font-family: typography.$JetBrainsMono;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-right: 1rem;
    text-shadow: 0 0 1rem palette.$medium-champagne;
  }

  .Navigation {
    margin-inline-start: auto;
    a {
      display: block;
      padding: 0.5rem 1rem;
    }

    .Navigation_list {
      display: flex;
      flex-direction: row;
      column-gap: 1rem;

      a {
        border-radius: 0.5rem;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        &:hover {
          background: palette.$blue-sapphire;
        }
      }
    }
  }

  .Navigation__mobile {
    position: relative;

    .ToogleButton {
      font-size: 1.5rem;
      display: inline-block;
      svg {
        vertical-align: middle;
      }
    }

    .Navigation_mobile_list {
      background: palette.$viridian-green;
      border-radius: 0.5rem;
      box-shadow: 0 0 1rem palette.$blue-sapphire;
      overflow: hidden;
      position: absolute;
      right: 110%;
      top: 0;

      a {
        transition: all 0.2s ease-in-out;
        &:hover {
          background: palette.$blue-sapphire;
        }
      }
    }
  }
}
