@use "./typography.scss";
@import "~reset-css/sass/reset";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: typography.$Comfortaa, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

#__next {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 0.9rem;
  }
}
